.mainBlock {
    height: 200px;
    background-color: darkblue;
}


.continer {
    background-color: chocolate;
    width: 100%;
    border: 1px solid black;
}

.text {

}

.sylka {
    background-color: bisque;
}