.mainBlock {
    height: 200px;
    background-color: darkblue;
}

.removeContiner {
    display: flex;
}

.continer {
    background-color: chocolate;
    width: 100%;
    border: 1px solid black;
}

.text {

}